
   
    .container {
        h2 {
            color: white;
            text-align: center;
        }
        
        padding: 15px;
        padding-bottom: 25px;
        background-color: rgba(41, 41, 41, 0.403);
        border-radius: 5px;
    }
    .fas {
        margin-left: 7px;
    }

